* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allbox {
  background-image: url(nature.jpg);
  background-position: center center;
  background-size: cover;
}

.box {
  border: solid 1px black;
  background-color: white;
  min-height: 75%;
}

.form1, .form2, .form3, .form4 {
  flex-grow: 1;
}

.label1 {
  margin-left: 5rem;
}

.label2 {
  margin-left: 4rem;
}

.label3 {
  width: 192px;
  display: flex;
  justify-content: flex-end;
}

.label4 {
  width: 192px;
}

#email, #nickname, #password1, #password2 {
  padding-left: 32px;
}

.email, .nickname, .password {
  position: absolute;
  Top: 2px;
  Left: 6px;
  font-size: 1.5em;
}

.has-error {
  border: solid 1.5px red;
}

.help-block {
  color: red;
}