* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 90px;
}

footer {
  background-color: silver;
  height: 90px;
}

main {
  padding-bottom: 90px;
  flex: 1;
}

footer p {
  font-size: 24px;
  font-family: "Comic Sans MS";
}

.logo {
    width: 450px;
    height: 75px;
}

.title2 {
  width: 400px;
  height: 75px;
}
nav {
    align-items: end;
    padding: 0px 4rem;
    height: 100%;
    background-color: silver;
}

ul {
  display: flex;
}

.active {
  display: none;
}

.hamburger {
  display: none;
  font-size: 2.5em;
}

.cross {
  display: none;
  font-size: 2.5em;
}

@media (max-width: 1200px) {
  .admin-menu {
    padding: 8px;
  }
}

@media (max-width: 1150px) {
  nav {
    padding: 0px 1rem;
  }
}

@media (max-width: 1074px) {

  nav {
    position: relative;
    align-items: center;
    padding: 0px 4rem;
  }

  .nav-button {
    display: inline-block;
    transition: all 0.4s;
  }

  .active {
    display: inline;
  }

  ul {
      position: absolute;
      flex-direction: column;
      border: solid 1px black;
      display: none;
      background-color: rgba(0, 153, 255, 0.5);
      color: black;
      width: 200px;
      Top: 79px;
      Right: 0px;
      z-index: 1;
  }

  ul .active{
    display: flex;
  }

  li {
    border-top: solid 1px;
  }
}

.per {
  font-size: 18px;
}

.pagination span {
  width: 24px;
  border: solid 1px black;
  text-align: center;
}

.pagination span:hover {
  background-color: #99CCFF;
}

.pagination a {
  color: black;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 120px;
  }

  footer {
    height: 120px;
  }
}
@media (max-width: 571px) {
  .logo {
    width: 90%;
  }
  nav {
    padding: 0px 1px;
  }
  .title2 {
    width: 90%;
    padding: 0 auto;
  }
}

@media (max-width: 395px) {
  footer p {
    font-size: 16px;
  }
}

@media (max-width: 374px) {
  .logo {
    width: 85%;
  }
}

