* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 90px;
}

footer {
  background-color: silver;
  height: 90px;
}

main {
  padding-bottom: 90px;
  flex: 1;
}

footer p {
  font-family: "Comic Sans MS";
}

.logo {
    width: 450px;
    height: 75px;
}

.title2 {
  width: 400px;
  height: 75px;
}
nav {
    align-items: end;
    padding: 0px 4rem;
    height: 100%;
    background-color: silver;
}

ul {
  display: flex;
}

.active {
  display: none;
}
.hamburger {
  display: none;
  font-size: 2.5em;
}
.cross {
  display: none;
  font-size: 2.5em;
}

@media (max-width: 991px) {

  nav {
    position: relative;
    align-items: center;
  }

  .nav-button {
    display: inline-block;
    transition: all 0.4s;
  }

  .active {
    display: inline;
  }

  ul {
      position: absolute;
      flex-direction: column;
      display: none;
      border: solid 1px black;
      background-color: rgba(0, 153, 255, 0.5);
      color: black;
      width: 200px;
      Top: 79px;
      Right: 0px;
  }

  ul .active{
    display: flex;
  }

  li {
    border-top: solid 1px;
  }
}
@media (max-width: 571px) {
  .logo {
    width: 90%;
  }
  nav {
    padding: 0px 1px;
  }
  .title2 {
    width: 90%;
    padding: 0 auto;
  }
}

