* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allbox {
  background-image: url(nature.jpg);
  background-position: center center;
  background-size: cover;
}

.box {
  border: solid 1px black;
  background-color: white;
  min-height: 75%;
}

#id {
  cursor: pointer;
}

.main-rating {
  display: flex;
  margin: 0px 20px 16px 20px;
}

.comment {
  display: flex;
  margin: 0px 20px;
}

.half {
  opacity: 0.0;
  Top: 8px;
  width: 18px;
  overflow: hidden;
}

.ratings {
  font-size: 1.5rem;
  color: #FFD700;
}

.rating-value-display {
  font-size: 1.3rem;
}

.label1 {
  margin-right: 38.4px;
  font-size: 1.2rem;
}

.label2 {
  font-size: 1.2rem;
}

.content {
  height: 200px;
}

.btn1 {
  width: 25%;
}

.post {
  margin: 48px 0px;
}

@media (min-width: 1200px) {
  .main-rating, .comment {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media (max-width: 450px) {
  .main-rating {
    margin: 0px 8px 16px 8px;
  }
  .comment {
    margin: 0px 8px;
  }
}

@media (max-width: 400px) {
  .main-rating, .comment {
    flex-wrap: wrap;
  }
  .label1, .label2 {
    width: 100%;
  }
  .btn1 {
    width: 40%;
  }
  .post {
    margin: 12px 0px;
  }
}


